body {
  background-color: #131214;
  color: white;
  font-family: "Poppins", sans-serif;

}

section {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  padding: 10px 10%;

}

/*-----------------------------------*\
  HOME
\*-----------------------------------*/

#home {
  /* background-image: url('../assets/imgs/undraw_version_control_re_mg66.svg'); */
  background-repeat: no-repeat;
  background-position: 95% 60%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #519975;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

span {
  color: #519975;
}

.nav-text {
  margin-top: 20%;
  font-size: 30px;
}

.nav-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

.nav-text p {
  color: #ababab;
  font-size: 25px;
  font-style: italic;
  font-weight: 200;
}

.scroll-down {
  height: 80px;
  width: 50px;
  border: 4px solid #519975;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 1em;
  width: 1em;
  background-color: #519975;
  border-radius: 50%;
  animation: move-down-up 2s infinite;
}

@keyframes move-down-up {

  0%,
  100% {
    transform: translateY(0em);
    opacity: 1;
  }

  50% {
    transform: translateY(1.3em);
    opacity: 1;
  }
}


/*-----------------------------------*\
  ABOUT
\*-----------------------------------*/



#about {
  color: #ababab;
  display: flex;
  align-items: center;
}

#about .container {
  padding: 10px 10%;
}

#about .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 80%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.about-head h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.about-head h3 {
  font-size: 20px;
  color: #ababab;
  font-weight: 400;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #b89076;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-links:hover::after {
  width: 50%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-contents ul li {
  margin: 10px 0;
}

.tab-contents ul li span {
  font-size: 18px;
  font-weight: 500;
  color: #b89076;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  top: 50%;
}



/*-----------------------------------*\
  EXPERIENCE
\*-----------------------------------*/



#experience {
  color: black;
}

.experience-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.experience-head h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.experience-head h3 {
  font-size: 20px;
  font-weight: 400;
  color: #ababab;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.experience-card {
  padding: 10px 50px;
  position: relative;
  width: 45%;
}

.text-box {
  padding: 20px 30px;
  background-color: #262626;
  position: relative;
  border-radius: 15px;
  border-bottom: #fff solid 3px;
  font-size: 15px;
}

.text-box h2 {
  color: #fff;
}

.text-box small {
  font-weight: 500;
  color: #ababab;
}

.job-title {
  display: flex;
  justify-content: space-between;
}

.text-box ul li {
  color: #ababab;
  list-style-type: disc;
  margin-bottom: 15px;
  margin-left: 17px;
}

.left-container {
  left: 5%;
}

.right-container {
  left: 50%;
}

.experience-card img {
  position: absolute;
  width: 50px;
  border-radius: 50%;
  right: -28px;
  top: 32px;
  z-index: 10;
  background-color: #fff;
}

.right-container img {
  left: -22px;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  z-index: -1;
}

.text-box h2 {
  font-weight: 600;
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #262626;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 16px solid #262626;
  left: -15px;
}



/*-----------------------------------*\
  MY PROJECTS
\*-----------------------------------*/



#my-projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  gap: 40px;
}

.my-projects-head {
  width: 50%;
}

.my-projects-head h3 {
  color: #ababab;
  font-weight: 400;
  font-size: 20px;
}

.my-projects-head h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.projects-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #262626;
  width: 30%;
  padding: 30px;
  border-radius: 30px;
}

.projects-cards h1 {
  margin-bottom: 20px;
}

.projects-cards p {
  color: #ababab;
  margin-bottom: 20px;
}

.projects-cards h5 {
  font-weight: 400;
  color: #519975;
}

.projects-img {
  padding: 20px;
  background-size: contain;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.portfolio-project .projects-img {
  background-image: url("../assets/imgs/portfolio-preview.png");
}

.weather-project .projects-img {
  background-image: url("../assets/imgs/weather-preview.png");
}

.terminal-project .projects-img {
  background-image: url("../assets/imgs/terminal-preview.png");
}

.projects-img a {
  cursor: default;
}

.projects-img img {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: transform 0.7s ease;
  transform: scale(1);
}

.projects-img img:hover {
  transform: scale(1.1);
  background-color: #519975;
}

.project-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card-footer a {
  color: #ababab;
}

.project-card-footer a:hover {
  transition: 0.5s;
  color: #519975;
}


/*-----------------------------------*\
  CONTACTS
\*-----------------------------------*/


#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contacts .sub-title {
  font-size: 60px;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
  color: #fff;
}

.contact-left p i {
  color: #519975;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  cursor: default;
}

.social-icons i,
iconify-icon {
  transition: transform 0.7s;
}

.social-icons i:hover,
.social-icons iconify-icon:hover {
  cursor: pointer;
  transition: transform 0.7s;
  color: #519975;
  transform: translateY(-5px);
}

.cv-btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #519975;
  padding: 14px 50px;
  border-radius: 6px;
  color: #519975;
  transition: 0.5s;
}

.cv-btn:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #519975;
}

.contact-right form {
  width: 100%;
}

textarea {
  resize: none;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.form-btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #519975;
  background-color: #519975;
  color: #fff;
  border-radius: 6px;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;

}

nav .fa-solid {
  display: none;
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-left p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*-----------------------------------*\
  MOBILE SCREEN
\*-----------------------------------*/



@media only screen and (max-width: 600px) {
  /*-----------------------------------*\
    HOME MOBILE
  \*-----------------------------------*/

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #519975;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  .nav-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .nav-text h1 {
    font-size: 30px;
  }

  .fa-xmark {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .nav-text p {
    font-size: 20px;
  }

  .scroll-down {
    left: 45%;
    height: 70px;
    width: 40px;
  }

  .bg-img {
    position: absolute;
    top: 40%;
    left: 40%;
  }

  #home {
    background-position: 0% 25%;
    background-size: 350px;
  }

  .nav-text p {
    padding-top: 50px;
  }

  /*-----------------------------------*\
    ABOUT
  \*-----------------------------------*/

  #about .container {
    padding-top: 100px;
  }

  .sub-title {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .about-head h1 {
    font-size: 50px;
  }

  /*-----------------------------------*\
    EXPERIENCE
  \*-----------------------------------*/

  #experience .container {
    padding-top: 100px;
  }

  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
  }

  .experience-head h3 {
    font-size: 20px;
  }

  .experience-head h1 {
    font-size: 50px;
  }

  .experience-card {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .timeline::after {
    margin-left: 4px;
  }

  .right-container {
    left: 15px;
  }

  .left-container img,
  .right-container img {
    left: -2.5px;
  }


  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #262626;
    border-left: 0;
    left: -15px;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .job-title {
    flex-direction: column;
    margin-top: 8px;
  }

  .job-title .company {
    margin-bottom: 0px;
  }

  .job-title .date {
    margin-bottom: 20px;
  }


  /*-----------------------------------*\
    MY PROJECTS MOBILE
  \*-----------------------------------*/

  .my-projects-head {
    width: 100%;
  }

  .projects {
    flex-direction: column;
  }

  .projects-cards {
    width: 100%;
  }

  .my-projects-head h1 {
    font-size: 50px;
  }

  /*-----------------------------------*\
    CONTACTS
  \*-----------------------------------*/

  #contacts .container {
    margin-top: 150px;
  }

  .text-box {
    font-size: 13px;
  }

  #contacts .sub-title {
    font-size: 50px;
  }

  .text-box small {
    margin-bottom: 10px;
  }
}